node_modules
.git
.gitignore
.env
.env.*
.aws
.config
**/*.pem
**/*.key
**/*.p12
**/*.crt
apps/web/.next
apps/**/dist
packages/**/dist
apps/worker/var
**/*.tsbuildinfo
var/data
var/cache
pnpm-debug.log
*.log
